:root {
--color-brand: #011C44;
--color-accent: #2B7FFF;
--color-background: #FFFFFF;
--color-secondary: #4A4A4A;
--color-third: #747272;
--color-black: #000000;
}

/* Base */
body {
    color: var(--color-brand);
}

ul {
    list-style-type: none;
}

/* button section */
.button {
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
    color: var(--color-background);
    border-radius: 32px;
    width: 219px;
    height: 53px;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    /* transparent - прозорий колір */
    color: var(--color-brand);
}

.button:focus {
    background-color: transparent;
    color: var(--color-brand);
}

/* header-link section */
.header-link {
    color: var(--color-brand);
}

.header-link:hover {
    color: var(--color-accent);
}

/* hero-title section */
.hero-title {
    color: var(--color-accent);
}

.under-button {
    color: var(--color-secondary);
}

/* section-title section */
.section-title .accent {
    color: var(--color-accent);
}

.text-section {
    color: var(--color-black);
}

/* footer section */
.basement-section {
    color: var(--color-background);
}

.end-title {
    color: var(--color-third);
}